<div class="image">
    <img src="images/pokemon/{{PokemonId}}.png" />
</div>
<div class="info">
    {{PokemonName}}
    <div class="stats">
        Distance  : {{round Distance 2}}m <br />
        Walk times: {{toTime Estimated}}
    </div>
</div>