<div class="marker snipe-marker" style="margin-top:-25px; margin-left:-25px;position: absolute;width: 100px;height: 100px;z-index: 100;background-color:rgba(234, 45, 90, 0.9);border-radius: 50%;">
    <div style="width: 60px;height: 60px;background-image: url('images/pokemon/{{PokemonId}}.png');background-size: contain;background-position: center center;background-repeat: no-repeat;margin-top: 20px;margin-left: 20px;"></div>
</div>