$color-pokemon-very-common: #64B3DF;
$color-pokemon-common: #115778;
$color-pokemon-popular: #9DE259;
$color-pokemon-rare: #548724;
$color-pokemon-very-rare: #FFE060;
$color-pokemon-epic: #FF5F5E;
$color-pokemon-special: #FFA93B;
$color-pokemon-legendary: #9D44BA;
$toggle-color: #2196f3;
$valor: #d95753;
$mystic: #0677ee;
$instinct: #fbd208;
$unoccupied: #bdc3c7;
$pokestop: #4faed4;
$visited-pokestop: #9b59b4;
$lure: #f52d60;


