$color-pokemon-very-common: #64B3DF;
$color-pokemon-common: #115778;
$color-pokemon-popular: #9DE259;
$color-pokemon-rare: #548724;
$color-pokemon-very-rare: #FFE060;
$color-pokemon-epic: #FF5F5E;
$color-pokemon-special: #FFA93B;
$color-pokemon-legendary: #9D44BA;
